@font-face {
  font-family: 'Netflix Sans';
  src: local('Netflix Sans'), url(./assets/fonts/NetflixSans_W_Md.woff2) format('woff');
}

@font-face {
  font-family: 'nf-icon';
  src: local('nf-icon'), url(./assets/fonts/nf-icon-v1-93.woff) format('woff');
}

body, html {
  background: #141414;
  color: #fff;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  margin: 0;
}

h1{
  margin: 0.67em 0;
}

a{
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

a:hover{
  outline: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.netflix-sans-font-loaded{
  font-size: 0.85vw;
  background: #141414;
  color: #fff;
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  line-height: 1.2;
  user-select: none;
  cursor: default; 
}

[class*="icon-"]{
  font-family: nf-icon;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  transform: translateZ(0);
}

.icon-logoUpdate::before{
  content: '\e5d0';
}

.pinning-header{
  width: 100%;
  height: 70px;
}

.pinning-header-container{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: transparent none repeat scroll 0% 0%;
}

.pinning-header .main-header{
  background-color: transparent;
  height: 68px;
  z-index: 2;
  background-image: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
  font-size: 1.2em;
  position: relative;
  display: flex;
  align-items: center;
  -moz-box-align: center;
  transition: background-color .4s;
  padding: 0 4%;
  
}

.pinning-header .pinning-header-container .main-header{
  z-index: 2;
}

.pinning-header .main-header .logo{
  color: #e50914;
  display: inline-block;
  cursor: pointer;
  margin-right: 5px;
  text-decoration: none;
}

.pinning-header .tabbed-primary-navigation{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.pinning-header .tabbed-primary-navigation .navigation-tab{
  list-style: none;
  margin-left: 18px;
}

.pinning-header .tabbed-primary-navigation:not(.has-dropdown-menu) .navigation-tab{
  display: block;
}

.pinning-header .tabbed-primary-navigation .navigation-tab a{
  position: relative;
  transition: color 0.4s;
  display: flex;
  align-items: center;
  height: 100%;
}

.pinning-header .tabbed-primary-navigation .navigation-tab a.current{
  color: #fff;
  font-weight: 700;
  cursor: default;
}

.pinning-header .secondary-navigation{
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
  position: absolute;
  right: 4%;
  top: 0;
  height: 100%;
}

.searchBox{
  display: inline-block;
  vertical-align: middle;
}

.searchTab{
  display: inline-block;
  cursor: pointer;
  border: none;
  background: 0 0;
}

.searchTab .icon-search{
  font-weight: 700;
}

.icon-search::before{
  content: '\e636';
}

.searchTab span{
  line-height: 1;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
}

.pinning-header .secondary-navigation:not(.menu-navigation) .icon-search{
  font-size: 1.3em;
  margin-right: 0;
}

.pinning-header .secondary-navigation .nav-element:not(:last-child){
  margin-right: 15px;
}

.pinning-header .secondary-navigation .icon-search{
  vertical-align: middle;
}

.icon-button-notification::before{
  content: '\e663';
}

.pinning-header .secondary-navigation .notifications{
  position: relative;
  
}

.notifications{
  white-space: normal;
}

.notifications .notifications-menu{
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  line-height: 1;
  margin-top: 0.2em;
  padding: 2px 6px 3px;
  position: relative;
  color: #fff;
}

.pinning-header .account-menu-item{
  display: block;
  position: relative;
  font-size: 12px;
  z-index: 0;
}

.pinning-header .account-menu-item .account-dropdown-button{
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.pinning-header .secondary-navigation .nav-element a{
  display: block;
}

.pinning-header .account-dropdown-button a{
  z-index: -1;
  position: relative;
}

.pinning-header .account-dropdown-button .profile-link{
  position: relative;
  display: flex;
  align-items: center;
}

.pinning-header .account-dropdown-button .profile-icon{
  vertical-align: middle;
  height: 32px;
  width: 32px;
  border-radius: 4px;
}

.profiles-gate-container{
  text-align: center;
  z-index: 0;
}

.profiles-gate-container .centered-div{
  /* z-index: 100; */
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.list-profiles{
  max-width: 80%;
  background: #141414;
}

.list-profiles .profile-gate-label{
  width: 100%;
  color: #fff;
  font-size: 3.5vw;
  font-weight: unset;
}

.list-profiles .choose-profile{
  margin: 2em 0;
  padding: 0;
}

.profiles-gate-container li.profile:not(:last-child){
  margin: 0 2vw 0 0;
}

.profiles-gate-container li.profile{
  width: 10vx;
  max-width: 200px;
  min-width: 84px;
}

.profiles-gate-container li{
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.profiles-gate-container li a{
  text-decoration: none;
}

.list-profiles .avatar-wrapper{
  position: relative;
}

.profiles-gate-container .profile-icon{
  height: 10vw;
  width: 10vw;
  max-height: 200px;
  max-width: 200px;
  min-height: 84px;
  min-width: 84px;
  box-sizing: border-box;
  position: relative;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #333;
  border-radius: 4px;
  border: none;
}

.profiles-gate-container .profile-icon::after{
  content: '';
  display: block;
  border-radius: 4px;
  border: 0.3em solid transparent;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.profiles-gate-container .profile-name{
  line-height: 1.2em;
  min-height: 1.8em;
  color: grey;
  display: block;
  text-align: center;
  font-size: 1.3vw;
  margin: 0.6em 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.profiles-gate-container li a.focused .profile-icon, .profiles-gate-container li a:focus .profile-icon, .profiles-gate-container li a:hover .profile-icon{
  outline: 2px solid #e5e5e5;
}

.profiles-gate-container li a.focused .profile-name, .profiles-gate-container li a:focus .profile-name, .profiles-gate-container li a:hover .profile-name{
  color: #e5e5e5;
}

.profile-button{
  display: block;
  margin: 2em 0 1em 0;
  font-size: 1.2vw;
  border: 1px solid grey;
  color: grey;
  padding: 0.5em 1.5em;
  letter-spacing: 2px;
  cursor: pointer;
  background-color: transparent;
}

.profile-button:hover{
  color: #fff;
  border: 1px solid #fff;
}


@media screen and (min-width: 950px){
  .pinning-header .main-header .logo{
    font-size: 25px;
  }
}