@font-face {
  font-family: 'Netflix Sans';
  src: local('Netflix Sans'), url(./assets/fonts/NetflixSans_W_Md.woff2) format('woff');
}

@font-face {
  font-family: 'nf-icon';
  src: local('nf-icon'), url(./assets/fonts/nf-icon-v1-93.woff) format('woff');
}

body {
  background: #141414;
  color: #fff;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.netflix-sans-font-loaded{
  font-size: 0.85vw;
  background: #141414;
  color: #fff;
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  line-height: 1.2;
  user-select: none;
  cursor: default; 
}

[class*="icon-"]{
  font-family: nf-icon;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  transform: translateZ(0);
}

.icon-logoUpdate::before{
  content: '\e5d0';
}

.pinning-header{
  width: 100%;
  height: 70px;
}

.pinning-header-container{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: transparent none repeat scroll 0% 0%;
}

.main-header{
  background-color: transparent;
  height: 68px;
  z-index: 2;
  background-image: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
  font-size: 14px;
  position: relative;
  display: flex;
  align-items: center;
  -moz-box-align: center;
  transition: background-color .4s;
  padding: 0 4%;
  
}

.pinning-header .main-header .logo{
  color: #e50914;
  display: inline-block;
  cursor: pointer;
  margin-right: 5px;
  text-decoration: none;
}


@media screen and (min-width: 950px){
  .pinning-header .main-header .logo{
    font-size: 25px;
  }
}
